{% if product_count < 2 %}
  {% assign column = 1 %}
{% else %}
  {% if product_count_odd == 'false' %}
    {% if product_count < 8 %}
      {% assign column = 2 %}
    {% else %}
      {% assign column = 4 %}
    {% endif %}
  {% else %}
    {% assign column = 3 %}
  {% endif %}
{% endif %}

<div class="list collection-list compact crop image-contain column-{{ column }}">
  {% if product_count > 0 %}
    {% for product in collection.products %}
      {% include 'product-list-item', excludeCover: true %}
    {% endfor %}
  {% endif %}
</div>
