{% if settings.social-twitter-url != blank %}
  <div class="twitter-widget">
    <div class="twitter-tweet-wrapper">
      <div class="icon icon-twitter"></div>
      <div class="twitter-tweet"></div>
    </div>

    {%- capture twitterLink -%}
      <a href="{{ settings.social-twitter-url }}">@{{ settings.social-twitter-url | split: 'twitter.com/' | last }}</a>
    {%- endcapture -%}
    <div class="twitter-follow">{{ 'general.social.follow_on_twitter_html' | t: twitter_link: twitterLink }}</div>
  </div>
{% endif %}
