<div class="module-wrapper">
	<div class="module">
      <div class="module-header">
  		<p class="module-subtitle">Follow Us Instagram
  			<i class="product-focus-list-item-icon ion-social-instagram-outline icon-size-4x" aria-hidden="true" style=" font-size: 25px;
    vertical-align: middle;" title="Weddings &amp; Special Occasions."></i>
  		</p>
      </div>
      <div class="module-body">
		<div data-is data-is-source="@zelayanewyork" data-is-rows="1"></div>
  	  </div>
	</div>
</div>
