<div id="madetoorder">
<div class="module-wrapper style-default border">
  <div class="module home-inline has-images">    
      <div class="module-header home-inline-header">        
          <div class="module-title">            
              <h3>Made to Order. Handmade Shoes.</h3>            
          </div>        
      </div> 
    <div class="module-body home-inline-body">      
        <div class="list column-3 clearfix"> 
              <div class="list-item">                
                  <img alt="img" src="{{ 'mobile-icon.png' | asset_url }}">             
                <div class="list-text-wrapper text-center">                  
                  <div class="list-title">
                     Concierge
                  </div>  
                    <div class="list-text">
                      Our concierge is available to answer any questions you may have related to Zelaya shoes. We will work directly with you on your customizations.
                    </div>
                </div>
              </div>
              <div class="list-item">                
                  <img alt="img" src="{{ 'shoes-icon.png' | asset_url }}">
                <div class="list-text-wrapper text-center">                  
                  <div class="list-title">
                    Handcrafted Precision
                  </div>    
                    <div class="list-text">
                     All of our shoes are welted, lasted, painted, finished and polished by hand.  No shortcuts. Just perfection.
                    </div>      
                </div>
              </div>
              <div class="list-item">                
                  
                <img alt="img" src="{{ 'tool-icon.png' | asset_url }}">
                <div class="list-text-wrapper text-center">                  
                  <div class="list-title">
                    Free Refunds
                  </div>            
                    <div class="list-text">
                      If for any reason you are not satisfied with the quality of your shoes, you can return them for a full refund.
						We stand behind our product.

                    </div>
                </div>
              </div>
    <div class="list-clearfix clearfix"></div>

            
          
            
            
            
            
            
            
            
          
            
            
            
            
            
            
            
          
            
            
            
            
            
            
            
          
        </div>
      
    </div>

  </div>
</div>
</div>