<div class="module-wrapper">
  <div class="module module-404">
    <div class="module-header page-header">
      <h1 class="module-title">{{ 'general.404.title' | t }}</h1>
    </div>
    <div class="module-body">
      <div class="module-content">
        {% capture link %}
          <a href="/collections/all">{{ 'general.404.link' | t }}</a>
        {% endcapture %}
        {{ 'general.404.subtext_html' | t: link: link }}
      </div>
    </div>
  </div>
</div>
