<div class="module-wrapper">
  <div class="module collections">
    <div class="module-header collections-header">
      <div class="module-title">
        <h1>{{ 'collections.listing.header' | t }}</h1>
      </div>
    </div>
    <div class="module-body collections-body">
      {% paginate collections by 12 %}
        <div class="list compact crop column-3">
          {% for collection in collections %}
            {% include 'collection-list-item' %}
            {% assign clear = 3 %}
            {% assign group = 'collections' %}
            {% include 'clear' %}
          {% endfor %}
        </div>
        {% if paginate.previous or paginate.next %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>
