<div class="about-content module-wrapper">
  <div class="module page {% if page.content == blank %}no-content{% endif %}">
    <div class="module-header page-header">
      <div class="module-title">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    {% unless page.content == blank %}
      <div class="module-body page-body rte clearfix">
        {{ page.content }}
      </div>
    {% endunless %}
  </div>
</div>

{% include 'about-team' %}
